body {
    background-image: url('supremewallpaper.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

div {
    background-color: pink;
}